<?xml version="1.0" encoding="UTF-8" ?>
<Configuration status="INFO">
    <Properties>
        <Property name="SP"> - %d%-5level[domain:customer][%c{1}][%X{x-sp-customer-id}][%thread] %encode{%msg}{CRLF} -- %X{dd.trace_id} %X{dd.span_id}%n</Property>
        <Property name="ACCESS"> - %msg -- %X{dd.trace_id} %X{dd.span_id}%n</Property>
    </Properties>
    <Appenders>
        <Console name="ConsoleAppender" target="SYSTEM_OUT">
            <PatternLayout charset="UTF-8" pattern="${SP}"/>
        </Console>

        <Console name="AccessConsoleAppender" target="SYSTEM_OUT" >
            <PatternLayout charset="UTF-8" pattern="${ACCESS}"/>
        </Console>
    </Appenders>

    <Loggers>
        <Root level="INFO">
            <AppenderRef ref="ConsoleAppender"/>
        </Root>

        <Logger name="org.springframework" additivity="false">
            <AppenderRef ref="ConsoleAppender"/>
        </Logger>

        <Logger name="co.kr.starbucks.common.interceptor.LoggerInterceptor" level="WARN" additivity="false">
            <AppenderRef ref="AccessConsoleAppender"/>
        </Logger>

        <Logger name="co.kr.starbucks" additivity="false">
            <AppenderRef ref="ConsoleAppender"/>
        </Logger>
    </Loggers>
</Configuration>